*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}
input,
select,
textarea,
button {
  font: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --background: rgb(9 9 11);
  --text-color: white;
  --muted-text: rgb(161 161 170);
  --yellow-gold: rgb(234 179 8);
  --error: rgb(239 68 68);
}

body {
  min-height: 100dvh;
  color: var(--text-color);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

.home-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.show-card {
  /* display: flex; */
  padding: 0.75rem;
  border-radius: 2rem;
  background-color: rgb(24 24 27);
  transition: all 250ms ease-in-out;
}
.card-poster {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1.25rem;
}

.card-wrapper {
  display: grid;
  gap: 1.25rem;
}

.show-card-details {
  display: grid;
  gap: 0.5rem;
}
.card-title-wrapper {
  display: flex;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.card-title-wrapper > h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.rating-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--muted-text);
}
.sub-detail-wrapper {
  display: grid;
  gap: 0.25rem;
  padding-inline: 0.5rem;
}
.redirect-btn {
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 100vmax;
  margin-block-start: 0.5rem;
  background: var(--background);
  transition: all 250ms ease-in-out;
}

/* Hover & Focus States  */
.show-card:is(:hover, :focus-visible) {
  background-color: rgb(39 39 42);
}
.redirect-btn:hover {
  background-color: var(--yellow-gold);
}
.redirect-btn:focus-visible {
  outline: 2px solid white;
  outline-offset: 3px;
  outline-color: var(--yellow-gold);
}

/* Dialog Form  */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: calc(100% - 2rem);
  max-width: 500px;
  padding: 1rem;
  padding-block-end: 1rem;
  color: var(--text-color);
  background-color: rgb(24 24 27);
  border-radius: 1.25rem;
  outline: none;
  border: none;
  opacity: 0;
  transition: all 450ms ease-in-out;
}
dialog[open] {
  opacity: 1;
}
.modal::backdrop {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.429),
    rgba(0, 0, 0, 0.921)
  );
  backdrop-filter: blur(3px);
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.close-btn {
  display: grid;
  place-content: center;
  height: 2rem;
  padding-inline: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  transition: all 350ms ease-in-out;
}
.close-btn:hover {
  background-color: rgb(39 39 42);
}
.close-btn:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}
.input-wrapper {
  display: flex;
  gap: 0.5rem;
}
.input-field-wrapper {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
}
.input-field-wrapper > input,
.select-time {
  height: 36px;
  color: white;
  width: 100%;
  padding-inline: 0.75rem;
  border-radius: 0.25rem;
  background-color: transparent;
  border: 1px solid rgb(39 39 42);
  transition: background-color 350ms ease-in-out;
}
.input-field-wrapper > input:is(:hover, :focus-visible) {
  background-color: rgb(39 39 42);
}
.movie-input:disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgb(39 39 42);
}
.select-wrapper {
  position: relative;
}
.expand-more {
  position: absolute;
  top: 57%;
  right: 0.5rem;
  transition: all 250ms ease-in-out;
}
.select-time {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.select-time:is(:hover, :focus-visible) {
  cursor: pointer;
  background-color: rgb(39 39 42);
}

.select-time > option {
  height: 36px;
  appearance: none;
  background-color: rgb(39, 39, 42);
  color: white;
}
.dialog-actions {
  display: flex;
  gap: 0.5rem;
  margin-block-start: 1.5rem;
  justify-content: flex-end;
  align-items: center;
}
.dialog-actions-btns {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 100vmax;
  transition: all 350ms ease-in-out;
}
.dialog-actions-btns:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.confirm-btn {
  padding-inline: 1rem 0.75rem;
  background-color: var(--yellow-gold);
}
.confirm-btn:hover {
  background-color: rgb(202 138 4);
}
.cancel-btn:hover {
  background-color: rgb(39 39 42);
}
.modal-title {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem;
  margin-block-end: 1rem;
}
@media (min-width: 640px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
  .modal {
    padding: 2rem;
  }
  .modal-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 980px) {
  .home-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 3rem;
  }
}

@media (min-width: 1280px) {
  .home-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 4rem;
  }
}

/* Utility Classes  */
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.filled {
  color: var(--yellow-gold);
  font-variation-settings: "FILL" 200, "wght" 400, "GRAD" 0, "opsz" 24;
}
.error {
  color: var(--error);
}
.icon-xs {
  font-size: 0.875rem;
}
.icon-sm {
  font-size: 1rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}
.icon-md {
  font-size: 1.25rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.line-height-none {
  line-height: inherit;
}
.text-muted {
  color: var(--muted-text);
}
.p-0 {
  padding: 0;
}
.gap-2 {
  display: grid;
  gap: 0.25rem;
}
.mt-2 {
  margin-block-start: 0.25rem;
}
.my-4 {
  margin-block: 1rem;
}
.centered {
  display: grid;
  place-content: center;
  min-height: 100dvh;
}
